*{
    margin: 0%;
    padding: 0%;
}

.header{
background-color: rgb(6, 160, 221);
color: white;
height: 55px;
padding: 4px;
width: 80%;
margin-top: 12px;
margin-left: 80px;
margin-right: 80px ;
margin-bottom: 10px;
}

.header h1{
    margin-top: 15px;
    margin-left: 5px;
}

contenedor{

}

.logo{
margin-left: 10px;
}

.logo a{
    text-decoration: none;
    color: white;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding-top: 0px;
}

html{
width: 85%;
}

.navbar ul{
    list-style-type: none;
    text-align: right;

}

.navbar ul li a{
text-decoration: none;
display: block;
color: rgb(255, 255, 255);
}

.navbar ul li a:hover{
background-color: rgb(6, 180, 93);
color: black;
}

html{
    font-size: 16px;
}

.menu{

}





